<a href="https://colab.research.google.com/github/wallisonferreira/analise-exploratoria-mercados/blob/master/pre_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
#from google.colab import drive
#drive.mount('/content/drive')

In [2]:
# invite people to the party
import pandas as pd
import numpy as np
!pip install quandl
import quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/21/ce/281f4ae2554ba676735157a91205e808af149e97be534d6a1b9196638e63/Quandl-3.5.1-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.4.0)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.12.0)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.18.5)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.0.5)
Collecting inflection>=0.3.1
  Downloading https://files.pythonhosted.org/packages/d2/cd/f04c661d1b5ba6b7d77008e8fedd28a27a683eeeffcd93c6b2dbe54ea983/inflection-0.5.0-py2.py3-none-any.whl
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.0 quandl-3.5.1

# Data Wrangling

<p style="text-align:justify">Neste arquivo será feito tarefas de manipulação de dados usando técnicas de seleção de dados, limpeza, tratamento e exclusão de valores vazios, transformação e junção de dados. Esta tarefa é pré-requisito para a qualidade da visualização e análise dos dados. Os dados serão transformados para um formato conveniente de maneira que diminua os impactos negativos sobre a sua análise.</p>

#### Wrangling for Oil Price data

In [3]:
# import data from quandl
oil_price = quandl.get("OPEC/ORB", start_date="2009-01-01", end_date="2019-05-30")

In [4]:
# reset index
oil_price.reset_index(inplace=True)

In [5]:
# Visualising data
oil_price.head()

        Date  Value
0 2009-01-02  40.44
1 2009-01-05  43.98
2 2009-01-06  46.32
3 2009-01-07  45.43
4 2009-01-08  42.06

In [6]:
# rename column
oil_price.rename(columns={"Value":"OilPrice"})

           Date  OilPrice
0    2009-01-02     40.44
1    2009-01-05     43.98
2    2009-01-06     46.32
3    2009-01-07     45.43
4    2009-01-08     42.06
...         ...       ...
2680 2019-05-24     67.40
2681 2019-05-27     67.42
2682 2019-05-28     68.84
2683 2019-05-29     67.75
2684 2019-05-30     67.10

[2685 rows x 2 columns]

In [7]:
oil_price.head()

        Date  Value
0 2009-01-02  40.44
1 2009-01-05  43.98
2 2009-01-06  46.32
3 2009-01-07  45.43
4 2009-01-08  42.06

In [8]:
# Save file in samples directory
#oil_price.to_csv("/content/drive/My Drive/Análise Exploratória/Dados/oil_price.csv")

#### Wrangling for S&P 500 data

In [10]:
# Importing data from file
sp500 = pd.read_csv("/content/drive/My Drive/Análise Exploratória/Dados/HistoricalPrices-2.csv")

In [11]:
# Removing white spaces from column names
sp500.columns = sp500.columns.str.replace(' ','')

In [12]:
# Transforming the Column Date for Datetime
sp500['Date'] = sp500['Date'].astype('datetime64[ns]')

In [13]:
# Types of data
sp500.dtypes

Date     datetime64[ns]
Open            float64
High            float64
Low             float64
Close           float64
dtype: object

In [14]:
# Select columns
sp500 = sp500[['Date', 'Close']]

In [15]:
# sorting data
sp500 = sp500.sort_values(['Date'], ascending = True)

In [16]:
# visualising data
sp500.head()

           Date   Close
2617 2009-01-05  927.45
2616 2009-01-06  934.70
2615 2009-01-07  906.65
2614 2009-01-08  909.73
2613 2009-01-09  890.35

In [17]:
# Creating a list of index for sp500
i = pd.Series(list(range(0, len(sp500))))

In [18]:
# setting an index for sp500
sp500.set_index(i, inplace=True)

In [19]:
# data information
sp500.head()

        Date   Close
0 2009-01-05  927.45
1 2009-01-06  934.70
2 2009-01-07  906.65
3 2009-01-08  909.73
4 2009-01-09  890.35

In [20]:
# Save file in samples directory
#sp500.to_csv("/content/drive/My Drive/Análise Exploratória/Dados/sp500.csv")

#### Wrangling for Market Data

In [21]:
# import data
market = pd.read_csv("/content/samples/market_data.v4.csv", sep=";")

FileNotFoundError: ignored

In [ ]:
# removing spaces from column names
market.columns = market.columns.str.replace(" ", "")

In [ ]:
# transforming date to datetime
market['Date'] = market['Date'].astype('datetime64[ns]')

In [ ]:
# removing rows with null dates
market.dropna(axis=0, subset=['Date'], inplace=True)

In [ ]:
# visualising data types on market dataframe
market.dtypes

Date                         datetime64[ns]
GoogleTrends                         object
Bitcoin_DD                           object
MarketPrice                          object
TradeVolume                          object
NewPosts                             object
NewMembers                           object
PageViews                            object
Difficulty                           object
CostPerTransaction                   object
CostPerTransactionPercent            object
EstimTransactionVolume               object
MedConfirmationTime                  object
NumOfAddresses                       object
NumOfTransactions                    object
OutputVolume                         object
TotalBitcoins                        object
TransactionFees                      object
TransactionFeesUSD                   object
DowJones                             object
EURUSD                               object
USDEUR                               object
OilPrice                             object
dtype: object

In [ ]:
market

           Date GoogleTrends Bitcoin_DD  ... EURUSD USDEUR OilPrice
0    2009-03-01         0,00       0,00  ...   1,39   0,72    40,44
1    2009-04-01         0,00       0,00  ...   1,39   0,72    40,44
2    2009-05-01         0,00       0,00  ...   1,36   0,74    43,98
3    2009-06-01         0,00       0,00  ...   1,34   0,74    46,32
4    2009-07-01         0,00       0,00  ...   1,37   0,73    45,43
...         ...          ...        ...  ...    ...    ...      ...
3795 2019-05-26        30,00        NaN  ...   1,12   0,89    67,40
3796 2019-05-27        43,00        NaN  ...    NaN   0,89    67,42
3797 2019-05-28        38,00        NaN  ...   1,12   0,90    68,84
3798 2019-05-29        35,00        NaN  ...   1,11   0,90    67,75
3799 2019-05-30        38,00        NaN  ...   1,11   0,90    67,10

[3800 rows x 23 columns]

In [ ]:
test = market.OilPrice.replace(",", ".").replace(" ","").astype(str).astype('float64')
test

ValueError: ignored

In [ ]:
# TODO
# transforming data to float type
columns = market.columns

for x in columns:
  if x != 'Date':
    count = 0
    for row in x:
      value = market.loc[count, x]
      value = value.replace(",", ".")
      value = value.replace(" ", "")
      market.loc[count, x] = value.replace(",", ".").replace(" ", "")
      count+=1

In [ ]:
market

           Date GoogleTrends Bitcoin_DD  ... EURUSD USDEUR OilPrice
0    2009-03-01            0          0  ...   1.39   0.72    40.44
1    2009-04-01            0          0  ...   1.39   0.72    40.44
2    2009-05-01            0          0  ...   1.36   0.74    43.98
3    2009-06-01            0          0  ...   1.34   0.74    46.32
4    2009-07-01            0          0  ...   1.37   0.73    45.43
...         ...          ...        ...  ...    ...    ...      ...
3795 2019-05-26        30,00        NaN  ...   1,12   0,89    67,40
3796 2019-05-27        43,00        NaN  ...    NaN   0,89    67,42
3797 2019-05-28        38,00        NaN  ...   1,12   0,90    68,84
3798 2019-05-29        35,00        NaN  ...   1,11   0,90    67,75
3799 2019-05-30        38,00        NaN  ...   1,11   0,90    67,10

[3800 rows x 23 columns]

In [ ]:
market.dtypes

Date                         datetime64[ns]
GoogleTrends                         object
Bitcoin_DD                           object
MarketPrice                          object
TradeVolume                          object
NewPosts                             object
NewMembers                           object
PageViews                            object
Difficulty                           object
CostPerTransaction                   object
CostPerTransactionPercent            object
EstimTransactionVolume               object
MedConfirmationTime                  object
NumOfAddresses                       object
NumOfTransactions                    object
OutputVolume                         object
TotalBitcoins                        object
TransactionFees                      object
TransactionFeesUSD                   object
DowJones                             object
EURUSD                               object
USDEUR                               object
OilPrice                             object
dtype: object