<a href="https://colab.research.google.com/github/wallisonferreira/analise-exploratoria-mercados/blob/master/wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# Data Wrangling

<p style="text-align:justify">Neste arquivo será feito tarefas de manipulação de dados usando técnicas de seleção de dados, limpeza, tratamento e exclusão de valores vazios, transformação e junção de dados. Esta tarefa é pré-requisito para a qualidade da visualização e análise dos dados. Os dados serão transformados para um formato conveniente no intuito de diminuir os impactos negativos sobre esta análise.</p>

In [2]:
# invite people to the party
import pandas as pd
import numpy as np
!pip install quandl
import quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/21/ce/281f4ae2554ba676735157a91205e808af149e97be534d6a1b9196638e63/Quandl-3.5.1-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.18.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.12.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.4.0)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.23.0)
Collecting inflection>=0.3.1
  Downloading https://files.pythonhosted.org/packages/d2/cd/f04c661d1b5ba6b7d77008e8fedd28a27a683eeeffcd93c6b2dbe54ea983/inflection-0.5.0-py2.py3-none-any.whl
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.0.5)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.0 quandl-3.5.1

#### Wrangling for Oil Price data

In [ ]:
# import data from quandl
oil_price = quandl.get("OPEC/ORB", start_date="2009-01-01", end_date="2019-05-30")

In [ ]:
# reset index
oil_price.reset_index(inplace=True)

In [ ]:
# Visualising data
oil_price.head()

        Date  Value
0 2009-01-02  40.44
1 2009-01-05  43.98
2 2009-01-06  46.32
3 2009-01-07  45.43
4 2009-01-08  42.06

In [ ]:
# rename column
oil_price.rename(columns={"Value":"OilPrice"})

           Date  OilPrice
0    2009-01-02     40.44
1    2009-01-05     43.98
2    2009-01-06     46.32
3    2009-01-07     45.43
4    2009-01-08     42.06
...         ...       ...
2680 2019-05-24     67.40
2681 2019-05-27     67.42
2682 2019-05-28     68.84
2683 2019-05-29     67.75
2684 2019-05-30     67.10

[2685 rows x 2 columns]

In [ ]:
oil_price.head()

        Date  Value
0 2009-01-02  40.44
1 2009-01-05  43.98
2 2009-01-06  46.32
3 2009-01-07  45.43
4 2009-01-08  42.06

In [ ]:
# Save file in samples directory
#oil_price.to_csv("/content/drive/My Drive/Análise Exploratória/Dados/oil_price.csv")

#### Wrangling for S&P 500 data

In [ ]:
# Importing data from file
sp500 = pd.read_csv("/content/drive/My Drive/Análise Exploratória/Dados/HistoricalPrices-2.csv")

In [ ]:
# Removing white spaces from column names
sp500.columns = sp500.columns.str.replace(' ','')

In [ ]:
# Transforming the Column Date for Datetime
sp500['Date'] = sp500['Date'].astype('datetime64[ns]')

In [ ]:
# Types of data
sp500.dtypes

Date     datetime64[ns]
Open            float64
High            float64
Low             float64
Close           float64
dtype: object

In [ ]:
# Select columns
sp500 = sp500[['Date', 'Close']]

In [ ]:
# sorting data
sp500 = sp500.sort_values(['Date'], ascending = True)

In [ ]:
# visualising data
sp500.head()

           Date   Close
2617 2009-01-05  927.45
2616 2009-01-06  934.70
2615 2009-01-07  906.65
2614 2009-01-08  909.73
2613 2009-01-09  890.35

In [ ]:
# Creating a list of index for sp500
i = pd.Series(list(range(0, len(sp500))))

In [ ]:
# setting an index for sp500
sp500.set_index(i, inplace=True)

In [ ]:
# data information
sp500.head()

        Date   Close
0 2009-01-05  927.45
1 2009-01-06  934.70
2 2009-01-07  906.65
3 2009-01-08  909.73
4 2009-01-09  890.35

In [ ]:
# Save file in samples directory
#sp500.to_csv("/content/drive/My Drive/Análise Exploratória/Dados/sp500.csv")

#### Wrangling for Market Data

In [31]:
# import data
market = pd.read_csv("/content/drive/My Drive/Análise Exploratória/Dados/market_data.v4.csv", sep=";")

In [32]:
# removing spaces from column names
market.columns = market.columns.str.replace(" ", "")

In [33]:
# transforming date to datetime
market['Date'] = market['Date'].astype('datetime64[ns]')

In [34]:
# removing rows with null dates
market.dropna(axis=0, subset=['Date'], inplace=True)

In [44]:
# visualising data
market.head()

        Date  GoogleTrends  Bitcoin_DD  ...  EURUSD  USDEUR  OilPrice
0 2009-03-01           0.0         0.0  ...    1.39    0.72     40.44
1 2009-04-01           0.0         0.0  ...    1.39    0.72     40.44
2 2009-05-01           0.0         0.0  ...    1.36    0.74     43.98
3 2009-06-01           0.0         0.0  ...    1.34    0.74     46.32
4 2009-07-01           0.0         0.0  ...    1.37    0.73     45.43

[5 rows x 23 columns]

In [35]:
# visualising data types on market dataframe
market.dtypes

Date                         datetime64[ns]
GoogleTrends                         object
Bitcoin_DD                           object
MarketPrice                          object
TradeVolume                          object
NewPosts                             object
NewMembers                           object
PageViews                            object
Difficulty                           object
CostPerTransaction                   object
CostPerTransactionPercent            object
EstimTransactionVolume               object
MedConfirmationTime                  object
NumOfAddresses                       object
NumOfTransactions                    object
OutputVolume                         object
TotalBitcoins                        object
TransactionFees                      object
TransactionFeesUSD                   object
DowJones                             object
EURUSD                               object
USDEUR                               object
OilPrice                             object
dtype: object

In [38]:
# transforming string columns to float
columns = market.columns

for col in columns:
  if (col != 'Date'):
    market[col] = market[col].str.replace(",", ".").astype('float64')

In [42]:
market.tail(5)

           Date  GoogleTrends  Bitcoin_DD  ...  EURUSD  USDEUR  OilPrice
3795 2019-05-26          30.0         NaN  ...    1.12    0.89     67.40
3796 2019-05-27          43.0         NaN  ...     NaN    0.89     67.42
3797 2019-05-28          38.0         NaN  ...    1.12    0.90     68.84
3798 2019-05-29          35.0         NaN  ...    1.11    0.90     67.75
3799 2019-05-30          38.0         NaN  ...    1.11    0.90     67.10

[5 rows x 23 columns]

In [59]:
# visualising empty values
column_names = pd.DataFrame({ \
                             'Columns':[col for col in columns if col != 'Date'], \
                             'Empty':[market[col].isnull().sum() for col in columns if col != 'Date'], \
                             'Empty(%)':[market[col].isnull().sum()/market[col].isnull().count() for col in columns if col != 'Date']})

column_names

                      Columns  Empty  Empty(%)
0                GoogleTrends      0  0.000000
1                  Bitcoin_DD   1054  0.277368
2                 MarketPrice      0  0.000000
3                 TradeVolume     11  0.002895
4                    NewPosts    533  0.140263
5                  NewMembers    533  0.140263
6                   PageViews    533  0.140263
7                  Difficulty      0  0.000000
8          CostPerTransaction      0  0.000000
9   CostPerTransactionPercent      2  0.000526
10     EstimTransactionVolume      0  0.000000
11        MedConfirmationTime      0  0.000000
12             NumOfAddresses      0  0.000000
13          NumOfTransactions      0  0.000000
14               OutputVolume      0  0.000000
15              TotalBitcoins    486  0.127895
16            TransactionFees      0  0.000000
17         TransactionFeesUSD      0  0.000000
18                   DowJones      0  0.000000
19                     EURUSD      1  0.000263
20                     USDEUR      0  0.000000
21                   OilPrice      0  0.000000